= content_for(:feedback_class) { 'width-full' }

.columns
  .column.is-one-quarter
    .team-setting-link data-link='responses'
      = icon_and_text('comment', t('teams.chat_responses'))

    .team-setting-link data-link='presence'
      = icon_and_text('door-open', t('teams.presence'))

    / .team-setting-link data-link='hints'
    /   = icon_and_text('lightbulb', t('teams.hints'))

    .team-setting-link data-link='giving_points'
      = icon_and_text('hand-holding-medical', t('teams.giving_points', points_title: App.points_term.titleize))

    .team-setting-link data-link='emoji'
      = icon_and_text('smile', t('teams.emoji'))

    .team-setting-link data-link='throttling'
      = icon_and_text('tachometer', t('teams.throttling'))

    .team-setting-link data-link='streaks'
      = icon_and_text('star', t('teams.giving_streaks'))

    .team-setting-link data-link='schedule'
      = icon_and_text('clock', t('teams.schedule'))

    .team-setting-link data-link='reports'
      = icon_and_text('chart-pie-alt', t('teams.reports'))

    .team-setting-link data-link='leveling'
        = icon_and_text('signal-alt', t('teams.leveling'))

    .team-setting-link data-link='loot'
      = icon_and_text('store', t('teams.loot_shop'))

    .team-setting-link data-link='data'
      = icon_and_text('database', t('teams.data_title'))

    .team-setting-link data-link='danger_zone'
      = icon_and_text('exclamation-circle', t('teams.danger_zone', points_title: App.points_term.titleize))

  .column
    = form_for current_team, local: true do |f|
      = hidden_field_tag :section, session[:section]

      = render 'teams/settings/responses', f:
      = render 'teams/settings/presence', f:
      / = render 'teams/settings/hints', f:
      = render 'teams/settings/giving_points', f:
      = render 'teams/settings/emoji', f:
      = render 'teams/settings/throttling', f:
      = render 'teams/settings/streaks', f:
      = render 'teams/settings/schedule', f:
      = render 'teams/settings/reports', f:
      = render 'teams/settings/leveling', f:
      = render 'teams/settings/loot', f:
      = render 'teams/settings/data', f:
      = render 'teams/settings/danger_zone', f:

      .team_edit_footer
        = cancel_changes_button
        = submit_button

= javascript_include_tag 'settings'
= javascript_include_tag 'https://unpkg.com/select-pure@0.6.2/dist/bundle.min.js'

javascript:
  let event = new Event('select-pure-change')
  let select_pure = new SelectPure('#profile-multi-select', {
    multiple: true,
    placeholder: false,
    autocomplete: true,
    icon: 'fa fa-times',
    options: #{{@team_profile_options.to_json}},
    value: #{{@infinite_profile_rids.to_json}},
    onChange: value => {
      this.dispatchEvent(event)
      $('#infinite_profile_rids').val(value.join(':'))
    }
  })

  var dirty = false
  var submitted = false

  window.addEventListener('beforeunload', function(e) {
    if (dirty && !submitted) {
      e.returnValue = 'Are you sure you want to leave?';
    }
  });

  window.addEventListener('DOMContentLoaded', function() {
    var cards = document.querySelectorAll('.card');
    cards.forEach(function(card) {
      card.style.display = 'none';
    });

    var section = '#{session[:section]}';
    if (section !== '') {
      document.querySelector("[data-section='" + section + "']").style.display = 'block';
      document.querySelector("[data-link='" + section + "']").classList.add('is-active');
    } else {
      document.querySelector('.card:first-of-type').style.display = 'block';
      document.querySelector('.team-setting-link:first-of-type').classList.add('is-active');
    }

    var links = document.querySelectorAll('.team-setting-link');
    links.forEach(function(link) {
      link.addEventListener('click', function() {
        cards.forEach(function(card) {
          card.style.display = 'none';
        });
        var links = document.querySelectorAll('.team-setting-link');
        links.forEach(function(innerLink) {
          innerLink.classList.remove('is-active');
        });
        this.classList.add('is-active');
        var sectionName = this.dataset.link;
        document.getElementById('section').value = sectionName;
        var sectionSelector = document.querySelector("[data-section='" + sectionName + "']");
        sectionSelector.style.display = 'block';
      });
    });

    var inputs = document.querySelectorAll('input, select, textarea, button');
    inputs.forEach(function(input) {
      input.addEventListener('change', dirtyForm);
    });

    window.addEventListener('select-pure-change', dirtyForm);

    document.getElementById('btn-discard-changes').addEventListener('click', cleanForm);
    document.getElementById('btn-save-changes').addEventListener('click', function() {
      submitted = true;
    });
  });
