<p>Hello,</p>

<p>Your subscription to <%= App.app_name %> in the <%= @team.name %> Slack workspace has been canceled.</p>

<p>If you would like to reactivate, visit our <%= link_to 'billing page', subscriptions_url %> and resubscribe.</p>

<p>You may continue to use the service until the current billing cycle ends.</p>
