<p>Hello,</p>

<p>Thanks for using <%= App.app_name %> in the <%= @team.name %> Slack workspace. Unfortunately your team exceeds the maximum size that we are able to accommodate at this time. Therefore, we've uninstalled the app from your workspace and any active subscription has been canceled.</p>

<p>Please <%= link_to 'contact us', support_url %> if you would like to talk about a custom plan to continue service.</p>

<p>Sorry for the inconvenience.</p>
