<p>Hello,</p>

<p>Thanks for using <%= App.app_name %> in the <%= @team.name %> Slack workspace. Your team has decreased in size and now belongs in a different subscription plan.</p>

<p>Please visit our <%= link_to 'billing page', subscriptions_url %> to resubscribe under the appropriate plan to ensure continuation of service.</p>
