h2.subtitle.is-3 Instructional Videos

<iframe width="560" height="315" src="https://www.youtube.com/embed/8w7NAzQMe0c?si=7ZnhrcWmpyp9DM9r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" class="help-video" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Woic79w8MS4?si=VB-nC_2egVxE0MsX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" class="help-video" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/L6LKRaigG-c?si=C_OrwDv4ZtzmD4i7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" class="help-video" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Ht5g7OIwkjU?si=6NSQMY9ERPGttJnZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" class="help-video" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/HEKEV_REzwM?si=h05egkjllY6yDXLT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" class="help-video" allowfullscreen></iframe>
