#data data-stripe-publishable-key=App.stripe_publishable_key data-stripe-session-id=@stripe_session_id

= javascript_include_tag 'https://js.stripe.com/v3'

javascript:
  var stripe = Stripe(document.getElementById('data').dataset.stripePublishableKey);
  stripe.redirectToCheckout({
    sessionId: document.getElementById('data').dataset.stripeSessionId
  }).then(function (result) {
    alert(result.error.message);
  });
