br
br
br

img src="#{asset_pack_path("media/images/gifs/#{GIFS['48'].sample}.gif")}" alt='Animated GIF' style='margin: 0 auto; width: 48px; height: 48px;'

p <a href="#{unsubscribe_url(token: @unsub_token)}">Unsubscribe</a>
