<p>Welcome to <%= App.app_name %>!</p>

<p>Congrats. You've successfully installed <%= App.app_name %> in the <%= @team.name %> Slack workspace. As the administrator, you will likely want to familiarize yourself with how to configure and use the system. Head over to the <%= link_to 'help page', App.help_url %> for instructive materials.</p>
