@charset "utf-8";

$blue: rgb(72, 151, 224);
$green: rgb(36, 120, 82);
$blue-green: #428a8a;
$red: rgb(207, 75, 75);
$yellow: rgb(225, 196, 129);
$highlight: rgb(255, 244, 219);
$highlight-dark: rgb(92, 89, 81);
$grey-mid: rgb(110, 110, 110);
$brown: #332416;

$danger: $red;
$info: $blue-green;
$link: $blue;
$primary: $green;
$success: $green;
$warning: $yellow;

$given-color: #432478;
$given-color-dark: #d2b8ff;
$earned-color: $green;
$earned-color-dark: #a1f7d0;

$radius: 5px;

@import "bulma";
@import "bulma-tooltip";
@import "select2";
@import "vendor/select-pure.css.scss";
@import "vendor/bulma-switch.sass";

@import "dashboard.css.scss";
@import "errors.css.scss";
@import "features.css.scss";
@import "help.css.scss";
@import "navbar.css.scss";
@import "platforms.css.scss";
@import "shop.css.scss";
@import "team_owner.css.scss";
@import "topics.css.scss";
@import "wallboard.css.scss";

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('../fonts/BarlowSemiCondensed-Regular.ttf');
}

html {
  height: 100%;

  body {
    min-height: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: $white-ter;
    width: 100%;

    p {
      line-height: 1.9rem;
    }
  }

  body.public {
    background-color: $brown !important;
    background-image: url('../images/backgrounds/vertical-mural.png');
    background-repeat: no-repeat;
    background-size: 100% auto;

    @supports (-moz-appearance:none) {
      image-rendering: crisp-edges;
    }
    @supports not(-moz-appearance:none) {
      image-rendering: pixelated;
    }
    .footer {
      background-color: $brown !important;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }
}

form {
  textarea {
    height: 100px;
  }
  label, input, p, textarea, button {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .narrow {
    width: 60px;
  }
  .input-number {
    width: 80px;
  }
  .narrow2 {
    width: 150px;
  }
  .narrow3 {
    width: 450px;
  }
  .is-horizontal {
    .field-label {
      min-width: 180px;
    }
  }
  .is-switch-label {
    margin-top: 11px;
  }
  .textarea-narrow {
    height: 200px;
    width: 450px;
  }
  .cancel {
    margin-right: 10px;
  }
}
.tabs {
  a {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.margin-right {
  margin-right: 10px;
}

.nowrap {
  white-space: nowrap;
}
.card-module {
  p {
    line-height: 2rem;
  }
  .icon-img {
    margin-right: 10px;
  }
}

.is-secondary {
  background-color: $grey-mid;
  color: $white-ter;
}
.is-small {
  border-radius: 3px !important;
}
.logo-hug {
  position: relative;
  left: 10px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.dark-mode {
  background-color: $dark;

  p, th, table, strong, .subtitle, .button, .panel-content, .card,
  .label, .title, .subtitle, .stats-box, .team-setting-link, .team_edit_footer,
  #level-wrap {
    background-color: transparent !important;
    color: $light !important;
    box-shadow: none;
  }
  .button, #activity_container, .card {
    border: 1px solid $grey;
  }
  .highlight {
    background-color: $highlight-dark !important;
  }
  .points-direction-right {
    color: $given-color-dark;
  }
  .points-direction-left {
    color: $earned-color-dark;
  }
  .command {
    color: $dark !important;
  }
  .pagination {
    a {
      color: $light !important;
    }
  }
}

.is-grey {
  color: $grey;
}

.centered-text {
  text-align: center;
}

img.small-radius {
  border-radius: 3px;
}

#main {
  padding-top: 80px;
  min-height: 900px;

  .card {
    border-radius: $radius;
  }
}
.marketing-callout {
  border-radius: 20px;
  background: rgba(255, 255, 255, .85);
  padding: 30px;

  li:hover {
    text-decoration: underline;
  }
  i {
    margin-right: 20px;
  }
}
.landscape-overlay {
  border-radius: 20px;
  background: rgba(255, 255, 255, .85);
  padding: 30px;
}
.hidden {
  visibility: none;
}
.emoji {
  vertical-align: middle;
}
.btn-icon {
  margin-right: 7px;
}

.notification {
  width: 450px;
  margin-bottom: 20px;
  margin: auto;
}

.width-full {
  width: 100% !important;
  text-align: center;
}

.width-750 {
  width: 750px !important;
  margin: auto;

  @media (max-width: 600px) {
    width: 100% !important;
  }
}

.reaction-icon {
  margin-left: 30px;
}

.footer {
  background-color: $dark;
  color: $light;
  padding: 5px;
  width: 100%;

  a {
    font-size: 1.1rem;
    line-height: 2rem;
    color: $light;

    &:hover {
      color: $light;
      text-decoration: underline;
    }
  }
  p.copyright {
    font-weight: bold;
    font-size: 1rem;
  }
}

.legal-layout {
  background-color: $light !important;

  p, ul {
    margin-bottom: 20px;
  }
  ul, ol {
    margin-left: 40px !important;
  }
  ul {
    list-style-type: circle;
  }
  .subtitle {
    margin-top: 40px !important;
  }
}
