.card.width-750.card-module
  header.card-header
    p.card-header-title
      = image_pack_tag 'media/images/logos/app-web.png', class: 'icon-img', alt: 'App logo'
      = t('onboarding.installing')

  .card-content.has-text-centered
    p.has-text-weight-bold = t('onboarding.being_installed')
    p = t('onboarding.auto_refresh_html')
    br

    progress.progress.is-primary.my-progress-bar role="progressbar" value="0" max="100"

javascript:
  // Countdown message
  var timeLeft = 9;
  var countdownTimer = setInterval(function(){
    document.getElementById('countdown').innerHTML = timeLeft;
    timeLeft -= 1;
    if(timeLeft <= 0){
      clearInterval(countdownTimer);
      location.href = window.location.pathname + '?install=true';
    }
  }, 1000);

  // Progress bar
  document.addEventListener('DOMContentLoaded', () => {
    let progressBar = document.querySelector('.my-progress-bar');
    let value = 0;

    let interval = setInterval(() => {
      value += 1;
      progressBar.value = value;

      if (value >= 100) {
        clearInterval(interval);
      }
    }, 100);
  });
