.card.width-750.card-module
  header.card-header
    p.card-header-title
      = image_tag 'logos/app-web.png', class: 'icon-img', alt: 'App logo'
      = t('onboarding.installing')

  .card-content.has-text-centered
    p.has-text-weight-bold = t('onboarding.being_installed')
    br
    progress.progress.is-primary.install-progress-bar role='progressbar' value='0' max='100'

javascript:
  // Refresh timer with progress bar
  document.addEventListener('DOMContentLoaded', () => {
    let progressBar = document.querySelector('.install-progress-bar');
    let value = 0;

    let interval = setInterval(() => {
      value += 1;
      progressBar.value = value;

      if (value >= 100) {
        clearInterval(interval);
        location.href = window.location.pathname + '?install=true';
      }
    }, 100);
  });
