@import 'variables';

.help-layout {
  background-color: $light !important;
  font-size: 1.5rem;

  table {
    width: 100%;
    font-size: 1rem;
  }
  .help-video {
    border-radius: 5px !important;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .command {
    border-radius: 4px;
    padding: 3px;
    border: 1px solid rgb(94, 150, 169);
    background-color: rgb(232, 249, 255);
    margin-bottom: 0.8rem;
  }
  .description {
    margin-bottom: 3rem;
  }
  p {
    line-height: 2rem;
  }

  .youtube-video {
    margin-right: 20px;
  }

  @media (max-width: 660px) {
    .youtube-video {
      width: 280px;
      height: 158px;
    }
  }
  @media (min-width: 661px) {
    .youtube-video {
      width: 560px;
      height: 316px;
    }
  }
}
