- content_for :subtitle, t('nav.features')
- content_for :meta_description, t('meta.features')

= javascript_include_tag 'features'

= render 'public/features/callout_splash'
/ = render 'public/features/callout_js_demo'
= render 'public/features/callout_list'
= render 'public/features/modal'
