= stylesheet_link_tag 'https://pro.fontawesome.com/releases/v5.15.4/css/all.css'
link[
  rel='preload'
  href=asset_path('BarlowSemiCondensed-Regular.ttf')
  as='font'
  type='font/ttf'
  crossorigin
]
= stylesheet_link_tag 'application'
= javascript_importmap_tags
